.amazon-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px 40px;
  width: 100%;
  background:#1e2737;
  border-radius: 5px;
  margin-bottom: 30px;
}

.amazon-logo {
  width: 160px;
  height: auto;
  background-color: burlywood;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 30px;
}
.amazon-logo:hover{
    cursor: pointer;
    outline: 2px solid white;
}
.home_button {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.home_button:hover {
  color: #ff9900;
}

.search-input {
  width: 400px;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.search-input:focus {
  outline: 2px solid #ff9900;
}
.search-input:hover{

    outline: 2px solid whitesmoke;

}

.cards{
    margin: 15px;
    background-color:#ffffff;
    max-width: 300px;
    height:600px;
    border: 1px solid #2a2a2a;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    color:black;

}

.cards:hover{
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}
.productName{
    margin-top: 10px;
    font-size: 25px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.cards img{
    width: 100%;
    height: 220px;
    padding: 0%;
    border-radius: 10px 10px 0 0;
    display: block; 
}
.price{
    color:#a855f7;
    font-size:larger;
    font-weight: bold;
}
.hotd{
    color: #ff9500
}
.orderbutton{
    margin-top: auto;
    background-color:#ff9800;
    color:black;
    margin-left: 20px;
    width: 250px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 5px;
}
.orderbutton:hover{
    background-color:#ffc107;
}
.hideicon{
    background-color: white;
    margin-top: 5px;
    padding: 0px;
    width: 25px;
    margin-left: 270px;
    size: 10px;
}

.description{
    color: black;
    font-family: 'Poppins', sans-serif;
}

.loginformdiv{
    background:whitesmoke;
}
.amazon-logoo{
  margin-top: 20px;
  width: 160px;
  height: auto;
  background-color:white;
  border-radius: 5px;
  padding: 4px;

}
.Createbtn{
    background-color:#ffc107;
    padding: 3px ;
    padding-left: 3px;
    border-radius: 5px;
    width: 35%;
}
.Loginbtn{
    background:#ffc107;
    padding: 3px ;
    padding-left: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 40%;
}